/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 45px tall */
body {
  padding-top: 45px;
}

/*
 * Sidebar
 */
#sidebar {
  padding: 15px;
}
#sidebar .page-header {
  margin-top: 0;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    padding: 20px;
  }
}

/*
 * Main content
 */
@media (min-width: 768px) {
  #main {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #main svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}
#main {
  padding: 0;
}
#main svg {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* chord svg specific */
.chord {
  fill-opacity: 0.67;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.chord.fade {
  opacity: 0.1;
}
.arc:hover {
  cursor: pointer;
}

/* network svg specific */
svg.network {
  cursor: move;
}
svg.network circle {
  cursor: pointer;
}
svg.network text {
  cursor: pointer;
}
.link {
  z-index: -1;
}
text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-transition: fill-opacity 0.15s linear;
  transition: fill-opacity 0.15s linear;
}
text.muted {
  fill-opacity: 0.3;
}
/* Course details */
.marginless {
  margin: 0 !important;
}
